.alert-info {
  padding: 12px !important;
  border-radius: 8px !important;
  border: 1.5px solid #eaf1fc !important;
  background-color: var(--light-blue-alert) !important;
}

.alert-info .v-alert__content {
  font-size: 14px !important;
  color: rgba(18, 93, 163, 1) !important;
}

.alert-info .v-icon {
  color: rgba(18, 93, 163, 1) !important;
}

.alert-info.small-alert-info {
  padding: 4px 8px !important;
  height: 40px !important;
  width: 320px;
  border-radius: 4px !important;
}

.alert-info.small-alert-info .v-icon {
  font-size: 24px !important;
}

.alert-info.small-alert-info .v-alert__prepend {
  margin-right: 8px !important;
}

.alert-info.small-alert-info .v-alert__content {
  font-size: 12px !important;
  line-height: 16px;
}
