.base-autocomplete .v-field--focused {
  color: var(--black) !important;
}

.base-autocomplete .v-field {
  border-radius: 8px !important;
  font-size: 14px !important;
}

.base-autocomplete .v-field-label {
  font-size: 14px !important;
  opacity: 0.3 !important;
  color: var(--black) !important;
}

.base-autocomplete .v-field--active .v-field-label {
  font-size: 10px !important;
  opacity: 1 !important;
  color: currentColor !important;
}

.base-autocomplete input {
  color: var(--black) !important;
}

.base-autocomplete .v-field__input {
  opacity: 1 !important;
}

.v-autocomplete__content .v-list .v-list-item-title {
  font-size: 14px !important;
}

.base-autocomplete input:disabled {
  color: var(--dark-gray) !important;
}

.base-autocomplete .v-field--disabled {
  opacity: 100% !important;
  background: var(--light-gray-pop-up) !important;
}
