.base-checkbox {
  color: var(--blue);
}

.base-checkbox .v-label {
  margin-left: 8px;
  color: var(--black);
  opacity: 100% !important;
  font-size: 14px !important;
}

.base-checkbox .mdi-checkbox-blank-outline::before {
  color: var(--black) !important;
}
