:root {
  --v-background-base: rgb(232, 238, 233);
  --light-gray: #cdcdcd;
  --white: #ffffff;
  --black: #1f1f1f;
  --red: #e60000;
  --green: #0aa52c;
  --blue: #1971c2;
  --dark-blue-outline: #0b477d;
  --gray: #a0a0a0;
  --dark-gray: #6c6c6c;
  --light-gray-pop-up: #f3f3f3;
  --light-blue-alert: #f7faff;
  --light-blue: #eaf1fc;
}
