.base-dialog .v-card {
  padding-top: 16px !important;
}

.base-dialog .v-card-title {
  position: relative !important;
  padding: 0px 44px 0px 20px !important;
}

.base-dialog .v-card-title .v-btn {
  display: block !important;
  position: absolute !important;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.base-dialog .v-card-text {
  max-height: 500px;
  margin-top: 12px !important;
  padding: 0px 20px !important;
  font-size: 14px !important;
  overflow-y: auto;
}

.base-dialog .v-card-actions {
  padding: 20px !important;
  box-shadow: 0px 0px 11px 0px #0000000d;
}
