ul.links {
  padding-left: 0;
}

ul.links li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 16px;
}

ul.links li:last-child {
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: #37474f;
  border-bottom: 1px solid #81939c;
  padding-bottom: 1px;
  transition: border-bottom-color 0.2s ease;
}

.link:hover {
  border-bottom-color: white;
}
