html {
  overflow: auto !important;
}

body {
  min-height: 100vh;
  font-family: 'Manrope', 'Arial', sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.35em !important;
}

.app-background-color {
  background: var(--v-background-base) !important;
}

.shadow {
  box-shadow:
    0px 2px 4px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
    0px 4px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
    0px 1px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12)) !important;
}

.shadow-none {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--dark-gray);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.cursor-pointer {
  cursor: pointer !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
