.Toastify__toast {
  padding: 12px !important;
  max-width: 320px !important;
  border-radius: 8px !important;
}

.Toastify__toast .Toastify__close-button {
  align-self: start;
  color: inherit;
}

.Toastify__toast .Toastify__progress-bar {
  background-color: currentColor;
}

.Toastify__toast .Toastify__toast-icon svg {
  fill: currentColor;
}

.Toastify__toast .Toastify__toast-body {
  display: flex;
  align-items: center;
  font-family: 'Manrope', 'Arial', sans-serif !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.Toastify__toast.Toastify__toast--info {
  background: linear-gradient(0deg, #d1dada, #d1dada),
  linear-gradient(0deg, #d1dada, #d1dada);
  color: black !important;
  border: 1px solid #d1dada;
}

.Toastify__toast.Toastify__toast--error {
  background: linear-gradient(0deg, #FCEBEA, #FCEBEA),
  linear-gradient(0deg, #FDCFCF, #FDCFCF);
  border: 1px solid #FDCFCF;
  color: #BD0000;
}

.Toastify__toast.Toastify__toast--warning {
  background: linear-gradient(0deg, #FEF7E8, #FEF7E8),
  linear-gradient(0deg, #FFE6C9, #FFE6C9);
  border: 1px solid #FFE6C9;
  color: #854D0E;
}